.footer {
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: $container-width;
  height: 549px;
  display: flex;
  align-items: center;
  position: relative;

  &__text {
    width: 50%;
    text-align: end;
    padding-right: 136px;
    padding-bottom: 25px;
  }

  &__social {
    width: 50%;

    &__list {
      display: flex;
      padding-bottom: 87px;
      justify-content: center;
      padding-right: 165px;

      &__item-twitter {
        margin: 0 21px;
      }
    }
  }
}