$color-basic                :#2C4058;
$color-secondary            :#FFFFFF;
$color-additional           :#000000;
$color-block-tradeCenter    :#55B7FF;
$color-block-commerceCentre :#7E5AFF;
$color-email-form           :#4B5562;