//Width
$container-width        : 1600px;

//Typography

$font-primary           : 'Montserrat', sans-serif;
$font-secondary         : 'Open Sans', sans-serif;
$font-addition          : 'Source Sans Pro', sans-serif;